<div class="pagination" style="position:relative; left:30%">
    <span>
    {% if page_obj.number != 1 and page_obj.number != 2 %}
        <a href="?page=1" class="btn btn-outline-dark" style="position:relative;">1</a>
    {% endif %}
    {% if page_obj.previous_page_number > 2 %}
        ...
    {% endif %}


    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-dark" style="position:relative;">{{ page_obj.previous_page_number }}</a>
    {% endif %}
    <span class="page-current btn btn-dark">{{ page_obj.number }}</span>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-dark" style="position:relative;">{{ page_obj.next_page_number }}</a>
    {% endif %}

    {% if page_obj.next_page_number < page_obj.paginator.num_pages|add:-1 %}
        ...
    {% endif %}
    {% if page_obj.number != page_obj.paginator.num_pages and page_obj.number < page_obj.paginator.num_pages|add:-1 %}
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-dark" style="position:relative;">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
    </span>
</div>